# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# Tailwind and PostCSS generated CSS
src/public/css/style.css

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor specific files
.vscode/
.idea/
*.swp

# Typescript cache files
*.tsbuildinfo

prisma/dev.*