<!DOCTYPE html>
<html lang="pt-BR" class="bg-zinc-950 text-gray-500">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Energy Management</title>
  <link rel="shortcut icon" href="/images/icon.jpg" type="image/x-jpg">
  <link href="/css/style.css" rel="stylesheet">
  <% if(headerOptions && headerOptions.import && headerOptions.import.css) { headerOptions.import.css.forEach(function(css){ %>
    <link rel="stylesheet" href="/css/<%- css -%>">
  <% }) } %>
  <style>
    ::-webkit-scrollbar       { width: 12px;               }
    ::-webkit-scrollbar-track { background: rgb(9 9 11); }
    ::-webkit-scrollbar-thumb {
      background-color: rgb(55 65 81);
      border-radius: 20px;
      border: 3px solid rgb(9 9 11);
    }
  </style>
<body class="h-screen flex items-center justify-center p-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="/js/services/api.js"></script>