<div
  class="relative z-10"
  v-bind:class="{ hidden: !is_expanded }"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  id="modal-sync-device"
>
  <div class="fixed inset-0 bg-black bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-gray-800 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-gray-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-400" id="modal-title">Sincronizar Dispositivo</h3>
              <div class="mt-2 text-sm">
                <strong class="font-semibold">Dispositivo:</strong> <span>{{ title }}</span><br/>
                <strong class="font-semibold">Descrição:</strong>   <span>{{ description }}</span>
              </div>
            </div>
          </div>
        </div>
        <form
          method="post"
          v-bind:action="route.device.store_sync(id)"
          class="bg-gray-700 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6"
        >
          <button type="submit" class="
            inline-flex w-full justify-center rounded-md bg-amber-600 px-3 py-2
            text-sm font-semibold text-white shadow-sm hover:bg-amber-500 sm:ml-3 sm:w-auto
          ">Sincronizar</button>
          <button
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
            v-on:click="is_expanded = false;"
          >Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const vueSyncDevice = new Vue({
    el: '#modal-sync-device',
    data: {
      is_expanded: false,
      title: '-- Não nomeado --',
      description:'-- Sem descrição --',
      id: undefined
    }
  })
  function callModalSyncDevice(id){
    const findedDevice = devices.find((device) => device.id === id);

    if(!findedDevice){
      notify({ type: 'warning', text: 'Não foi possível localizar o dispositivo' });
      return;
    }
    
    vueSyncDevice.id = id;
    vueSyncDevice.title = findedDevice.title ?? '-- Não nomeado --';
    vueSyncDevice.description = findedDevice.description ?? '-- Sem descrição --';
    vueSyncDevice.is_expanded = true;
  }
</script>