<%- include('../layout/header', headerOptions) -%>
<main class="w-full h-full flex flex-col rounded-2xl shadow-lg border-2 border-zinc-800/50 overflow-hidden">
  <%- include('../components/menu', { active: 'Sincronizar Dispositivos' }) -%>

  <section class="flex-1 flex flex-wrap p-4">
    <% if(!auth_user.home_ip){ %>
      <div class="bg-zinc-800/60 flex-1 w-full h-full rounded-lg p-4 text-center text-lg flex flex-col items-center justify-center">
        <p class="block max-w-[22rem] leading-tight mb-4">
          Você ainda não configurou seu <strong>Home-IP</strong>.<br/>
          <small>
            Configure-o na página de perfil para poder sincronizar seus dispositivos.
          </small>
        </p>
        <a
          href="<%= route.user.profile() %>?section=configurar-home-ip"
          class="block text-center rounded-md bg-amber-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 mb-2"
        >Configurar Home-IP</a>
      </div>
    <% }else { %>
      <div class="bg-zinc-800/60 flex-1 w-full h-full rounded-lg p-4 text-center text-lg flex items-center justify-center">
        <p class="block max-w-[20rem] leading-none">
          Não há nenhum dispositivo disponível.<br/>
          <span class="text-sm leading-tight block mt-2 text-gray-600">
            Para um novo dispositivo ficar disponível, ele deve estar conectado a mesma rede Wi-fi configurada na sua conta.
          </span>
        </p>
      </div>
    <% } %>
  </section>
</main>
<%- include('../layout/footer') -%>