<%- include('../layout/header', headerOptions) -%>
<main class="w-full h-full flex flex-col rounded-2xl shadow-lg border-2 border-zinc-800/50 overflow-hidden">
  <%- include('../components/menu', { active: 'Home' }) -%>

  <section class="flex-1 flex flex-wrap p-4">
    <div class="bg-zinc-800/60 flex-1 w-full h-full rounded-lg p-4 text-center text-lg flex items-center justify-center">
      Você ainda não sincronizou nenhum dispositivo a sua conta.
    </div>

  </section>
</main>
<%- include('../layout/footer') -%>