<div class="flex gap-2 py-2 w-full">
  <% if(device.device_type?.data?.monitoring){ %>
    <span>Indicador de atividade</span>
  <% } %>
  <% if(device.device_type?.data?.toggle){ %>
    <% if(device.state === 'ativo'){ %>
      <button type="button" class="
        flex-1 block w-full text-center rounded-full bg-gray-50/90 px-3 py-1.5 
        text-xs font-semibold text-red-600 shadow-sm hover:bg-red-600 hover:text-white
        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
        focus-visible:outline-red-600
      ">Desligar</button>
    <% }else{ %>
      <button type="button" class="
        flex-1 block w-full text-center rounded-full bg-gray-50/90 px-3 py-1.5 
        text-xs font-semibold text-emerald-600 shadow-sm hover:bg-emerald-600 hover:text-white
        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
        focus-visible:outline-red-600
      ">Desligar</button>
    <% } %>
    <button type="button" class="
      flex-1 block w-full text-center rounded-full hover:bg-gray-50/10 px-3 py-1.5 
      text-xs font-semibold text-gray-400 shadow-sm
      focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
      focus-visible:outline-red-600
    ">+ Detalhes</button>
  <% } %>
</div>